body,
html {
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  min-height: 600px;
  text-transform: uppercase;
}

.whole {
  display: flex;
  flex-direction: row;
}

.half{
  background-color: rgba(246, 255, 0, 0.8);
  height: 100vh;
  width: 50vw;
}
.half2{
  background-color: rgba(255, 255, 255, 0.7);
  height: 100vh;
  width: 50vw;
}

@media screen and (max-width: 922px) {
  .half {
    display: none
  }
  .half2 {
    width: 100vw;
  }
}


canvas {
  position: absolute;
  z-index: -2;
  opacity: 1;
  filter: blur(0.5px);
  --animate-duration: 1.5s;
  animation-delay: 0s;
}

#mail {
  font-size: 0.9rem;
  color: blue;
}

#sub {
  padding: 30px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  // animation-delay: 2.5s;
}


h1 {
  cursor: default;
  margin: 0px;
  font-size: 0.9rem;
}

.hide {
  i {
    color: #f45b69;
  }
  color: #f45b69;
  padding-left: 8px;
  font-size: 0.9rem;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 1.5s ease-out, padding-left 1s linear;
}

.hyperlink:hover + .hide {
  color: #f45b69;
  font-size: 0.9rem;
  opacity: 1;
  white-space: nowrap;
  padding-left: 8px;
}

.hyperlink {
  padding-left: 15px;
  transition: padding-left 1s linear, text-decoration 1s linear, color 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

.music {
  color: lightgray;
}

.fa-spotify {
  font-size: 0.9rem;
}

.hyperlink:hover {
  color: blue;
  padding-left: 15px;

}

a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}
section {
  padding: 0px 0px 2px 15px;
  display: flex;
}

.br {
  padding: 30px 0px 2px 15px;
  display: flex;
}

// .social {
//   a {
//     color: rgb(49, 49, 49);
//   }
//   font-size: 0.9rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: start;
//   position: fixed;
//   margin-top: 80px;
//   bottom: 0;
//   width: 100%;
//   /* Height of the footer*/
//   height: 30px;
//   animation-delay: 2.3s;
// }

p {
  display: block;
  cursor: default;
  font-size: 0.9rem;
  margin: 0px;
  padding: 10px 0px 30px 20px;
  width: 420px;
  animation-delay: 1s;
  --animate-duration: 2s;
}

h1::selection,
h3::selection,
p::selection,
a::selection,
h2::selection,
div::selection,
br::selection {
  background-color: rgb(253, 213, 213);
}



#link0 {
  animation-delay: 0s;
  --animate-duration: 1s;
}

#link1 {
  animation-delay: 0.05s;
  --animate-duration: 1s;
}

#link2 {
  animation-delay: 0.1s;
  --animate-duration: 1s;
}

#link3 {
  animation-delay: 0.15s;
  --animate-duration: 1s;
  text-decoration: line-through;
}


#link4 {
  animation-delay: 0.2s;
  --animate-duration: 1s;
}

#link5 {
  animation-delay: 0.25s;
  --animate-duration: 1s;
}

#link6 {
  animation-delay: 0.3s;
  --animate-duration: 1s;
}

#link7 {
  animation-delay: 0.35s;
  --animate-duration: 1s;
}

#link8 {
  animation-delay: 0.4s;
  --animate-duration: 1s;
}

#link9 {
  animation-delay: 0.45s;
  --animate-duration: 1s;
}

#link10 {
  animation-delay: 0.5s;
  --animate-duration: 1s;
}

#link11 {
  animation-delay: 0.55s;
  --animate-duration: 1s;
}

#link12 {
  animation-delay: 0.6s;
  --animate-duration: 1s;
}

#link13 {
  animation-delay: 0.65s;
  --animate-duration: 1s;
}

#link14 {
  animation-delay: 0.7s;
  --animate-duration: 1s;
}

#link15 {
  animation-delay: 0.75s;
  --animate-duration: 1s;
}

#link16 {
  animation-delay: 0.8s;
  --animate-duration: 1s;
}

#link17 {
  animation-delay: 0.85s;
  --animate-duration: 1s;
}
